* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #09bff1a8;
	background: -webkit-linear-gradient(to right, #faffd1, #a1ffce);
	background: linear-gradient(to right, #58afe8, #64f5ab);
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell {
	height: 45px;
	width: 45px;
	border-bottom: 4px solid darkgreen;
	border-right: 4px solid darkgreen;

	position: relative; /*To fix the Corner Border */

	/*display:flex so that the <img> within it is centered*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-col {
	border-left: 4px solid darkgreen;
}

.first-row {
	border-top: 4px solid darkgreen;
}

/* This fixes the Corner Border */
.bottomRightCorner::after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	width: 4px;
	height: 4px;
	background: darkgreen;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4px;
}

.middle-row {
	display: flex;
}

.direction-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	font-size: 3rem;
	border: 3px solid darkgreen;
	border-radius: 50%;
	color: darkgreen;
	cursor: pointer;
}

.middle-row .direction-button:first-of-type {
	margin-right: 50px;
}

.top-margin {
	margin-top: 10px;
}

.navbar {
	display: flex;
	justify-content: center;
	color: darkgreen;
	margin: 0 10px 20px 10px;

	font-family: "Vollkorn", serif;
	font-size: 1.2rem;
	font-weight: bold;
}

.generate-maze {
	border: 3px solid darkgreen;
	padding: 3px 10px;
	margin-right: 20px;
	cursor: pointer;
}

.next-maze {

	border: 3px solid darkgreen;
	padding: 3px 10px;
	margin-right: 20px;
	cursor: pointer;
}

.generate-maze:hover,
.checkbox:hover {
	background: rgba(173, 255, 47, 0.6);
}
.next-maze:hover{
	background: rgba(173, 255, 47, 0.6);
}

.visualize-maze {
	border-top: 3px solid darkgreen;
	border-left: 3px solid darkgreen;
	border-bottom: 3px solid darkgreen;
	padding: 3px 10px;
}

.checkbox {
	border: 3px solid darkgreen;
	padding: 3px;
	cursor: pointer;
	width: 45px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.highlight {
	background: #147386;
}

.heart {
	position: absolute;
	animation: fly 3s linear forwards;
	color: #e7273f;
	z-index: 1;
}

@keyframes fly {
	to {
		transform: translateY(-50px);
	}
}